<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
	<mapper namespace="com.iu.start.test.members.BankMembersDAO">
	
	<insert id="setAddFile" parameterType="BankMembersFileDTO">
		INSERT INTO MEMBERFILE (FILENUM, USERNAME, FILENAME, ORINAME) VALUES
		(FILE_SEQ.NEXTVAL, #{userName}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getLogin" parameterType="BankMembersDTO" resultMap="getLoginResult">
		SELECT M.USERNAME, M.NAME, R.ROLENUM, R.ROLENAME
		FROM MEMBERS M
		INNER JOIN MEMBER_ROLE MR
		ON M.USERNAME = MR.USERNAME
		INNER JOIN ROLE R
		ON R.ROLENUM = MR.ROLENUM
		WHERE M.USERNAME = #{username} AND M.PASSWORD = #{password}
		ORDER BY R.ROLENUM ASC 
	</select>
	
	<resultMap type="BankMembersDTO" id="getLoginResult">
		<id column="USERNAME" property="username"/>
		<result column="NAME" property="name"/>
		<collection property="roleDTOs" javaType="List" ofType="RoleDTO">
			<id column="ROLENUM" property="roleNum"/>
			<result column="ROLENAME" property="roleName"/>
		</collection>
		
	</resultMap>
	
	<insert id="setJoin" parameterType="BankMembersDTO">
		INSERT INTO MEMBERS VALUES (#{username}, #{password}, #{name}, #{email}, #{phone})
	</insert>
	
	<select id="getSearchById" parameterType="String" resultType="BankMembersDTO">
		SELECT * FROM MEMBERS WHERE USERNAME LIKE '%'||#{search}||'%' ORDER BY USERNAME
	</select>
		    
	<select id="getMyPage" parameterType="BankMembersDTO" resultMap="getMyPageResult">
	SELECT M.USERNAME, NAME, EMAIL, PHONE, FILENUM, FILENAME, ACCOUNTNUM, BOOKNAME, ACCOUNTDATE
      	FROM MEMBERS M
    
         LEFT JOIN
         MEMBERFILE MF
         ON M.USERNAME = MF.USERNAME
      
          LEFT JOIN
          BANKACCOUNT BA
          ON M.USERNAME = BA.USERNAME
          
          LEFT JOIN
          BANKBOOK BB
          ON BA.BOOKNUM = BB.BOOKNUM
           WHERE M.USERNAME=#{username}
	</select>
	
	<resultMap type="BankMembersDTO" id="getMyPageResult">
		<id column="USERNAME" property="username"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<association property="bankMembersFileDTO" javaType="BankMembersFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
		</association>
		<collection property="bankAccountDTOs" javaType="List" ofType="BankAccountDTO">
			<id column="ACCOUNTNUM" property="accountNum"/>
			<result column="ACCOUNTDATE" property="accountDate"/>
			<association property="bankBookDTO" javaType="BankBookDTO">
				<result column="BOOKNAME" property="bookName"/>
			</association>
		</collection>
	</resultMap>
	</mapper>